* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  color: fff;
  background: #000;
}
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 13%;
  background: transparent;
  transition: all ease .50s;
}

.logo {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.navlist {
  display: flex;
}
.navlist a{
  margin: 0 30px;
  padding: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: all ease .50s
}

.navlist a:hover{
 border-bottom: 2px solid #fff;
}

.navlist a.active{
  border-bottom: 2px solid #fff;
 }

.right-nav{
  display: flex;
  align-items: center;
}
.h-btn{
  display: inline-block;
  padding: 9px 20px;
  border: 1px solid #f5dca8;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  margin-right: 20px;
  color: #fff;
  transform: all ease .50s;
}

.h-btn:hover{
  transform: scale(1.06);
  color: #000;
  background: #fff;
  border: 1px solid #fff;
}

#menu-icon {
  font-size: 42px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}